<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>900225519373-pri5naj5btjr97otauufpfopvvb071qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900225519373-pri5naj5btjr97otauufpfopvvb071qf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900225519373-jqbruo6p5ck2h6h3jt3diid9ibm2a2pd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1E-d15r1YW31r7R1xnKFVe6dlGk1ftsE</string>
	<key>GCM_SENDER_ID</key>
	<string>900225519373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camsa.waspy</string>
	<key>PROJECT_ID</key>
	<string>camasacontigo</string>
	<key>STORAGE_BUCKET</key>
	<string>camasacontigo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900225519373:ios:4ffc81be88d4bfe0</string>
	<key>DATABASE_URL</key>
	<string>https://camasacontigo.firebaseio.com</string>
</dict>
</plist>